<!----------------- COLLECTION-section ------------------------>
<section class="collection">
  <div class="container">
    <div class="colection-wrapper">
      <h2 class="collection-title">Vital-J Empowering:</h2>
      <h4 class="collection-short">Collection, inspired by nature</h4>
      <div class="colection-text-btn">
        <img
          class="collection-img"
          src="../img/background/fruts.png"
          alt="fruits"
        />
        <div class="wrapper-text">
          <p class="collection-text wrapper">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis
            fermentum velit. Phasellus tempor lorem eget dui commodo laoreet.
            Duis vitae malesuada felis, eu gravida felis. Integer et eleifend
            mi. Vestibulum posuere libero ac ante cursus.
          </p>
          <button class="collection-btn btn" type="button">Buy now</button>
        </div>
        <img
          class="collection-picture"
          src="../img/mountains.jpg"
          alt="mountains"
        />
      </div>
    </div>
  </div>
</section>
<!----------------- end/COLLECTION-section --------------------->
