<!----------------- HEADER ------------------------>
<header class="navigation">
  <div class="navigation-top">
    <div class="container container-flex top">
      <span class="navigation-top__time"><time>9:41</time></span>

      <ul class="navigation-top__list">
        <li class="navigation-top__list-item">
          <svg class="account" width="24" height="24">
            <use href="../img/sprite.svg#icon-Cellular-Connection"></use>
          </svg>
        </li>
        <li class="navigation-top__list-item">
          <svg class="account" width="24" height="24">
            <use href="../img/sprite.svg#icon-Wifi"></use>
          </svg>
        </li>
        <li class="navigation-top__list-item">
          <svg class="account" width="24" height="24">
            <use href="../img/sprite.svg#icon-Battery"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>

  <div class="container container-flex">
    <a class="navigation-logo" href="./home.html">
      <svg class="logo" width="55" height="33">
        <use href="../img/sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <form>
      <span class="navigation-search-container">
        <input
          class="navigation-search"
          name="search"
          type="search"
          placeholder="I search..."
          minlength="2"
        />
        <svg class="search-icon" width="17.4" height="17.4">
          <use href="../img/sprite.svg#icon-Search"></use>
        </svg>
      </span>
    </form>
    <nav>
      <ul class="navigation-main-list">
        <li class="navigation-main-list__item">
          <a href="./index.html" class="navigation-main-list__item-link"
            >Home</a
          >
        </li>
        <li class="navigation-main-list__item">
          <a href="./html/about-us.html" class="navigation-main-list__item-link"
            >About us</a
          >
        </li>
        <li class="navigation-main-list__item">
          <a href="./html/shop.html" class="navigation-main-list__item-link">
            Shop
          </a>
          <button class="btnArrow">
            <svg class="btnArrow no-rotate" width="16" height="16">
              <use href="../img/sprite.svg#icon-arrow-down"></use>
            </svg>
          </button>
          <article class="click-category">
            <ul class="click-category__list">
              <li class="click-category__item">
                <a
                  class="click-category__link"
                  href="./html/shop-category.html"
                  rel="noopener noreferrer"
                  >Category 1</a
                >
              </li>
              <li class="click-category__item">
                <a
                  class="click-category__link"
                  href="./html/shop-category.html"
                  rel="noopener noreferrer"
                  >Category 2</a
                >
              </li>
              <li class="click-category__item">
                <a
                  class="click-category__link"
                  href="./html/shop-category.html"
                  rel="noopener noreferrer"
                  >Category 3</a
                >
              </li>
              <li class="click-category__item">
                <a
                  class="click-category__link"
                  href="./html/shop-category.html"
                  rel="noopener noreferrer"
                  >Category 4</a
                >
              </li>
              <li class="click-category__item">
                <a
                  class="click-category__link"
                  href="./html/shop-category.html"
                  rel="noopener noreferrer"
                  >Category 5</a
                >
              </li>
            </ul>
          </article>
        </li>
        <li class="navigation-main-list__item">
          <a href="./html/contact.html" class="navigation-main-list__item-link"
            >Contact us</a
          >
        </li>
        <li class="navigation-main-list__item">
          <a
            href="./html/privacy-policy.html"
            class="navigation-main-list__item-link"
            >FAQ</a
          >
        </li>
      </ul>
    </nav>

    <ul class="list navigation-list">
      <li class="list-item">
        <svg class="account social-icon" width="24" height="24">
          <use href="../img/sprite.svg#icon-Account"></use>
        </svg>
      </li>
      <li class="list-item">
        <a class="list-item__link" href="#">
          <svg class="Heart social-icon" width="24" height="24">
            <use href="../img/sprite.svg#icon-Heart"></use>
          </svg>
          <span class="list-item__number">0</span>
        </a>
      </li>
      <li class="list-item last">
        <a class="list-item__link" href="#">
          <svg class="basket social-icon" width="24" height="24">
            <use href="../img/sprite.svg#icon-Shopping-basket"></use>
          </svg>
          <span class="list-item__number">0</span>
        </a>
      </li>
    </ul>
    <button class="navigation-search-link">
      <svg class="Search" width="24" height="24">
        <use href="../img/sprite.svg#icon-Search"></use>
      </svg>
    </button>

    <button class="burger-btn" aria-expanded="false">
      <svg class="Burger-icon" width="24" height="24">
        <use href="../img/sprite.svg#icon-Burger"></use>
      </svg>
    </button>
    <div class="menu-container">
      <div class="menu-mobile-wrapper">
        <button class="btn-close">
          <svg class="btn-close__icon" width="12px" height="12px">
            <use href="../img/sprite.svg#icon-btn-close"></use>
          </svg>
        </button>
        <a class="navigation-logo" href="./home.html">
          <svg class="logo" width="55" height="33">
            <use href="../img/sprite.svg#icon-logo"></use>
          </svg>
        </a>
        <ul>
          <li><a href="./index.html">Home</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="./html/shop.html">Shop</a></li>
          <li><a href="./html/contact.html">Contact us</a></li>
          <li><a href="./html/privacy-policy.html">FAQ</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal-search-wrapper">
    <div class="modal">
      <form>
        <span class="modal-search">
          <button class="btn-search form" type="submit">
            <svg class="search-icon-modal" width="24" height="24">
              <use href="../img/sprite.svg#icon-Search"></use>
            </svg>
          </button>
          <input
            class="modal-search-text"
            name="search"
            type="search"
            pattern="^[a-zA-Za-яА-Я]+$"
            placeholder="I search..."
            minlength="2"
          />
        </span>
      </form>
    </div>
  </div>
</header>
<!---------------- end/HEADER --------------------->
